body, .font-size-m, .store-filter-btn, .footer .footer-link-list li a, .copy-right p, .drop-title, .section-title h3, .may-tab button, .new-price span, .old-price span,

,
#feature_slider .swiper-slide p, .statistics-container .statistics-card p, .store-filter-container .store-filter-drop a, .pagination li .page-link,.big-title-icon,.delete-link,.total-cart  {
  font-family: Almarai, 'sans-serif' !important;
}
.file-box input[type=file]:after{
  content: 'اختر صورة';
  padding: 0 21px;
}
.iti__country-list{
  left: 0;
}
.side-left-menu .side-left-menu-list li a:hover p{
  transform: translateX(-5px);
}
.send-comment{
  button{
    svg{
      transform: scale(-1);
    }
  }
}
.product-store-name:hover p{
  transform: translateX(-3px);
}
.infoBox{
  &>img{
    float: left;
  }
}
